#categories-index-container
	%table.categories
		%caption
			Categories
		%thead
			%tr
				%th.title Title
				%th.action Action
		%tbody
			- @categories.each do |category|
				%tr
					%td.title
						= category.title
					%td.action
						= link_to 'Articles', category_articles_path(category)
